{% extends 'bootstrap/base.html' %}
{% block content %}
<div class="container">
    <br>
    <br>
    <div class="row justify-content-around">
        <div class="col-md-4">
            <span class="d-block p-2" style="font-weight: bold; font-size: xx-large;">Get ready to ride <br> with us</span>
        
        </div>

        <div class="col-md-4">
            <br>
            <br>
            <br>

            <form action=" {{ url_for('main.usrform') }} " method="POST">
                <div class="form-group">
                    {{ form.pick_up.label() }}
                    {{ form.pick_up(class="form-control" ) }}
                    {{ form.Destination.label() }}
                    {{ form.Destination(class="form-control" ) }}
                    <br>
                    <div class="justify-content-around">
                        <button style="margin-right: 40px;" class="btn btn-primary">Submit</button>
                        <button class="btn btn-primary">Request Now</button>
                    </div>
                    
                </div>
    
            </form>
        </div>
        <div class="col-md-4">

            
            <form class="form-inline" method="GET">
                    <div class="form-group mx-sm-3 mb-2">
                      <label for="inputPassword2" class="sr-only">Password</label>
                      <input type="password" class="form-control" id="inputPassword2" placeholder="Location">
                    </div>
                    <button type="submit" class="btn btn-primary mb-2">Search</button>
            </form>
        </div>
    </div>
</div>


{% endblock %}